language: node_js
branches:
  only:
    - master
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - stable
before_script:
  - yarn install
script:
  - yarn run test
